@media (max-width: 768px) {
  body {
    margin: 10% 0;
  }

  body * {
    font-size: 18px;
  }

  .drawing-tools {
    gap: 2rem;
    margin-top: 3rem;
  }

  .jscolor,
  .btn-erase,
  .btn-save,
  .btn-clear {
    width: 60%;
    padding: 16px;
    margin: 0 auto;
  }

  .btn img {
    width: 20px;
    height: 20px;
  }

  .modal-content {
    width: 70%;
  }

  .tooltip {
    display: none !important;
  }
}
