.btn-save,
.btn-clear {
  position: relative;
}

.save-tooltip,
.clear-tooltip {
  display: none;
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--button-color-hover);
  color: var(--text-color);
  font-weight: var(--font-weight-normal);
  font-size: 12px;
  text-align: center;
  padding: 6px;
  margin-top: 12px;
  white-space: nowrap;
  opacity: 0.6;
}
